---
import ContraBadge from "@/components/ContraBadge.astro";
import {
  faFacebookF,
  faGithub,
  faInstagram,
  faLinkedinIn,
  faMediumM,
  faTwitter,
} from "@fortawesome/free-brands-svg-icons";
import { faCalendar, faEnvelope } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import classNames from "classnames";
import { TypeAnimation } from "react-type-animation";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={classNames(className, "card bg-neutral-900")}>
  <h1 class="font-extrabold text-6xl md:text-8xl text-neutral-200">Doruk Gezici</h1>
  <h2 class="my-5 sm:my-10 text-2xl md:text-4xl text-neutral-300">
    <TypeAnimation
      sequence={[
        "Backend & DevOps Engineer",
        1000,
        "Tech Entrepreneur",
        1000,
        "Full Stack Developer",
        1000,
        "Product Manager",
        1000,
      ]}
      wrapper="span"
      speed={50}
      repeat={5}
      client:load
    />
  </h2>

  <p class="text-xl md:text-2xl">
    <a href="/">DGtech,</a>
    <a href="https://udext.com" target="_blank"> Udext,</a>
    <a href="https://gamerarena.com" target="_blank"> Gamer Arena,</a>
    <a href="https://ituscheduler.com" target="_blank"> ITUscheduler</a>
  </p>

  <div class="actions flex flex-wrap justify-center items-center gap-5 my-5 sm:my-10 text-neutral-200">
    <a href="mailto:doruk@gezici.me" target="_blank">
      <FontAwesomeIcon icon={faEnvelope} className="mr-2" />
      Contact Me
    </a>
    <a href="https://calendly.com/dorukgezici/30min" target="_blank">
      <FontAwesomeIcon icon={faCalendar} className="mr-2" />
      Book Meeting
    </a>
    <ContraBadge />
  </div>

  <div
    class={classNames(
      "social",
      "flex flex-wrap justify-center mt-5 sm:mt-10",
      "gap-4 sm:gap-8 md:gap-12 lg:gap-14",
      "text-3xl sm:text-4xl text-neutral-300"
    )}
  >
    <a href="https://linkedin.com/in/dorukgezici" target="_blank">
      <FontAwesomeIcon icon={faLinkedinIn} />
    </a>
    <a href="https://dorukgezici.medium.com" target="_blank">
      <FontAwesomeIcon icon={faMediumM} />
    </a>
    <a href="https://github.com/dorukgezici" target="_blank">
      <FontAwesomeIcon icon={faGithub} />
    </a>
    <a href="https://instagram.com/dorukgezici" target="_blank">
      <FontAwesomeIcon icon={faInstagram} />
    </a>
    <a href="https://twitter.com/derektraveller" target="_blank">
      <FontAwesomeIcon icon={faTwitter} />
    </a>
    <a href="https://facebook.com/dorukgezici" target="_blank">
      <FontAwesomeIcon icon={faFacebookF} />
    </a>
  </div>
</div>

<style>
  .card {
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    text-align: center;
    font-weight: 400;
  }

  .actions a {
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 0.5rem;
    transition: all 0.25s;
  }

  .actions a:hover {
    transform: translateY(-2px);
  }

  .social a {
    transition: all 0.25s;
  }

  .social a:hover {
    transform: scale(1.2);
  }
</style>
